@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

/* @import "@fontsource-variable/exo-2";

body {
  font-family: "Exo 2 Variable", sans-serif;
} */

@import "@fontsource-variable/space-grotesk";

body {
  font-family: "Space Grotesk Variable", sans-serif;
}

.slider {
  @apply h-fit overflow-hidden relative w-full m-auto self-center after:right-0 after:top-0 before:left-0 before:top-0 py-6;
  background: rgb(15, 15, 15);
}
.slider::before,
.slider::after {
  @apply content-[""] h-fit absolute w-fit z-[2];
  background: linear-gradient(
    to right,
    #000000 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider::after {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider .slide-track {
  @apply animate-[scroll_80s_linear_infinite] flex w-[calc(100px_*_18)] md:w-[calc(300px_*_18)];
}

.slider .slide {
  @apply h-fit w-full self-center relative py-4;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.flare {
  @apply fixed mix-blend-screen pointer-events-none -translate-x-2/4 -translate-y-2/4 z-[999999] backdrop-blur-[1px] bg-[#0000005e] cursor-none rounded-[50%] border-2 border-solid border-white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .flare {
    @apply w-0 h-0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  @apply opacity-0;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
